/* src/styles/fonts.css */

@font-face {
    font-family: "General Sans";
    src:
        url("/fonts/GeneralSans-Variable.woff2") format("woff2"),
        url("/fonts/GeneralSans-Variable.woff") format("woff");
    font-weight: 400 800;
    font-display: swap;
}

:root {
    --font-display: "General Sans", sans-serif;
    --font-display-tracking: -0.015em;
}
